h1 {
    color: black;
    font-family: monospace;
}
.p-title{
    text-align: center;
    font-size: 50px;
    font-family: monospace;
    border: solid;
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(135, 199, 220);

}
body{
    background-color: lightblue;
    justify-content: center;
    align-items: center;
}
.description{
    font-size: 15px;
    font-family: monospace;
}
button{
    transition: .2s;
}
/* This is code for the divs of each feature */
.div{
    border-style: solid;
    margin-bottom: 5px;
    padding-bottom: 5px;
    text-align: center;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    background-color: rgb(242, 242, 242);
}
/*code for the JSON formatter div*/
.div-formatter{
    border-style: solid;
    margin-bottom: 5px;
    padding-bottom: 5px;
    text-align: center;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    background-color: rgb(242, 242, 242);
}
/* code for the text analyzer div*/
.div-analyzer{
    border-style: solid;
    margin-bottom: 5px;
    padding-bottom: 5px;
    text-align: center;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    background-color: rgb(242, 242, 242);
}
/*Code for the select feature*/
select{
    text-align: center;
    padding: 5px 5px;
    font-size: 15px;
    margin: 4px 2px;
    cursor: grab;
    background-color:rgba(255, 253, 253, 0.659);
    border-radius: 10px;
    border-color: black;
    opacity:0.7;
}
/* This is code for the buttons of each feature */
.calculate-button, .unit-converter-button, .text-analyzer-button {
    background-color:rgb(205, 180, 230);
    border: none;
    color: white;
    padding: 20px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    color: black;
    display: inline-block;
    font-size: 15px;
    margin: 20px auto;
    cursor: pointer;
}
/* code for the JSON formatter button*/
.json-formatter-button{
    background-color:rgb(205, 180, 230);
    border: none;
    color: white;
    padding: 20px;
    width: 100px;
    margin: 20px auto;
    text-align: center;
    text-decoration: none;
    color: black;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
}
/* code for the clear button design */
.clear-button{
    background-color:rgb(156, 159, 247);
    border: none;
    color: white;
    padding: 20px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 15px;
    margin: 15px;
    cursor: pointer; 
}
/* this is code for the copy button for json fornatter*/
.copy-button{
    background-color:rgb(147, 187, 245);
    border: none;
    color: white;
    padding: 20px;
    width: 100px;
    margin: 20px auto;
    text-align: center;
    text-decoration: none;
    color: black;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
}
/* This is code for the inputs of each feature */
.calculate-input, .unit-converter-input {
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    max-width:fit-content;
}
.text-input {
    padding: 10px;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    resize: both;
    max-width: 200px;
    max-height: 236px;
    margin: 5px;
}
.json-formatter-input{
    padding: 5px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 15px;
    margin: 3px;
    max-width: fit-content;
}
/* This is code for the Calculator button hover effect */
button:hover {
    background-color: rgb(115, 180, 237);
    color: white;
    transform: translateY(-5px);
}
button:active{
    transform:scale(.97);
}
/* This is code for the Calculator output */
.output{
    font-size: 15px;
    margin-bottom: 10px;
    border-style: dashed;
    border-radius: 10px;
}
/* this is styling for the outputs of each calculation*/
.unit-converter-output, .text-analyzer-output {
    padding: 10px;
    margin: 20px auto;
    width: 100%;
    border-radius: 5px;
    border-radius: 20px;
    max-width: 200px;
    font-family: monospace;
    
}
/* this for the div tag for the JSON output*/
.json-formatter-output{
    padding: 10px;
    margin: 20px auto;
    width: 100%;
    border-radius: 5px;
    border-radius: 20px;
    max-width: 200px;
    font-family: monospace;
}
/* This is code for the Caculator calculation */
.calculate-output{
    padding: 10px;
    margin : 20px auto;
    width: 100%;
    border-radius: 5px;
    border-radius: 20px;
    font-size: 15px;
    max-width:200px;
    font-family: monospace;
}
/* code for the <pre> tag for the JSON output*/
pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: 15px;
    border-style: dashed;
    border-radius: 10px;
}
/* styling for the 6 input boxes for the JSON formatter */
.flex-div-formatter{
    display: inline-grid;
    align-self: center;
    margin-right: 10px;
    margin-top: 10px;
}
.copied-text{
    font-size: 20px;
    font-family: monospace;
}
/* footer styling */
footer{
    justify-content: center;
    align-items: center;
    text-align: center;
    border: solid;
    border-radius: 20px;
    background-color: rgb(135, 199, 220);
    font-size: 20px;
    font-family: monospace;
}
