h1 {
    color: black;
    font-family: Arial, sans-serif;
}
body{
    background-color: lightblue;
    justify-content: center;
    align-items: center;
}
/* This is code for the divs of each feature */
.div{
    border-style: solid;
    margin-bottom: 5px;
    padding-bottom: 5px;
    text-align: center;
    height: 300px;
    width: auto;
    border-radius: 20px;
    background-color: rgb(242, 242, 242);
}
select{
    text-align: center;
    padding: 5px 5px;
    font-size: 15px;
    margin: 4px 2px;
    cursor: grab;
    background-color:rgba(255, 253, 253, 0.659);
    border-radius: 10px;
    border-color: black;
    opacity:0.7;


}
/* This is code for the buttons of each feature */
.calculate-button, .unit-converter-button, .text-analyzer-button {
    background-color:rgb(205, 180, 230);
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    color: black;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
}
.json-formatter-button{
    background-color:rgb(205, 180, 230);
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    color: black;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
}
.clear-button{
    background-color:rgb(156, 159, 247);
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer; 
}

/* This is code for the Caculator calculation */
.calculate-output{
    padding: 10px;
    margin-right: 10px;
    width: 200px;
    border-radius: 5px;
    border-style: solid;
    border-radius: 20px;
    font-size: 16px;
    float: right;
}
/* This is code for the inputs of each feature */
.calculate-input, .unit-converter-input, .text-input {
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}
.json-formatter-input{
    padding: 5px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 15px;
    margin: 3px;
}
/* This is code for the Calculator button hover effect */
button:hover {
    background-color: rgb(115, 180, 237);
    color: white;
}
/* This is code for the Calculator output */
.output{
    font-size: 15px;
    margin-bottom: 10px;
}
/* this is styling for the outputs of each calculation*/
.unit-converter-output, .text-analyzer-output, .json-formatter-output{
    padding: 10px;
    margin-right: 10px;
    width: 200px;
    border-radius: 5px;
    border-style: solid;
    border-radius: 20px;
    font-size: 16px;
    float: right;
    
}
/* styling for the 6 input boxes for the JSON formatter */
.flex-div-formatter{
    display: inline-grid;
    align-self: center;
    margin-right: 10px;
    margin-top: 10px;
}
